.contacts{
    .zui-classification{
        .zui-classification-header{
            opacity: 0.5;
            background: #D8E1EF;
            height:2rem !important;
            padding-left:16px;
            .zui-classification-img{
                height:1rem;
                width:1rem;
            }
            .zui-classification-font{
                font-size:1rem;
            }
        }
        ion-list{
            margin: 0px;
            ion-item{
                div{
                    display: flex;
                    align-items: center;
                    .zui-avator{
                        height: 3.5rem;
                        width: 3.5rem;
                        border-radius: 50%;
                    }
                    .zui-name{
                        margin-left:1.5rem;
                    }
                }
            }
        }
    }
    .zui-sidenav{
        position:fixed;
        float: left;
        top:0px;
        bottom:0px;
        right:0px;
        opacity:0.9;
        display: flex;
        align-items: center;
        nav{
            ul{
                padding:0px;
                list-style: none;
                li{
                    color:#000 !important;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
