<div class="rate-view">
    <div class="rate-view_body-title">{{title}}</div>
    <div id="main" class="rate-view_circle"></div>
    <div class="title_panel-div">
        <ul>
            <li class="title_panel_time">{{description}}</li>
            <li class="title_panel_value">{{_percent}}<span>%</span></li>
            <li class="title_panel_sub">{{name}}</li>
        </ul>
    </div>
    <div class="rate-view_grid">
        <div class="rate-view_grid-row" *ngFor="let element of dataList">
            <div class="rate-view_grid-col"  *ngFor="let item of element" >
                <div class="rate-number">{{item.value}}</div>
                <div class="rate-tip">{{item.name}}</div>
            </div>
        </div>
    </div>
</div>
