<div class="rate-view">
    <div class="rate-view_bg"></div>
    <div class="rate-view_body">
        <div class="rate-view_body-title">设备概览</div>
        <div class="rate-view_circle">
            <zui-circle-rate [percent]='0.5' [style]="{'height':'300','width':'414'}"></zui-circle-rate>
        </div>
        <div class="rate-view_grid">
            <div class="rate-view_grid-row">
                <div class="rate-view_grid-col">
                    <div class="rate-number">460</div>
                    <div class="rate-tip">正常</div>
                </div>
                <div class="rate-view_grid-col">
                    <div class="rate-number">26</div>
                    <div class="rate-tip">暂停服务</div>
                </div>
                <div class="rate-view_grid-col">
                    <div class="rate-number">28</div>
                    <div class="rate-tip">维护</div>
                </div>
            </div>
            <div class="rate-view_grid-row">
                <div class="rate-view_grid-col">
                    <div class="rate-number">34</div>
                    <div class="rate-tip">通讯故障</div>
                </div>
                <div class="rate-view_grid-col">
                    <div class="rate-number">35</div>
                    <div class="rate-tip">关机</div>
                </div>
                <div class="rate-view_grid-col">
                    <div class="rate-number">89</div>
                    <div class="rate-tip">对外服务</div>
                </div>
            </div>
        </div>
    </div>
</div>
