.title{
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.21px;
  }
  .introduction{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.16px;
  }
  .content{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.16px;
  }

.list-ios>.item-block:first-child {
    border-top: 5px solid #eee;
}

.list-ios>.item-block:last-child {
    border-bottom: 5px solid #eee;
}