<div *ngFor="let msg of msgList">
    <div class="msg" (mousedown)="isActive = true" (mousemove)="isActive = false" (mouseup)="isActive = false">
        <div class="time"><span>{{msg.time}}</span></div>
        <div class="content" [ngClass]="{active: isActive}">
            <ion-grid>
                <ion-row>
                <ion-col class="head" width-15>
                    <div>
                        <img class="head_internet-img" alt="">
                        <span>网络</span>
                    </div>
                </ion-col>
                <ion-col class="body" width-75>
                    <p class="case-id">
                    {{msg.title}}
                    </p>
                    <p class="desc">
                        {{msg.detail}}<br/>
                        <span>
                        {{msg.address}}
                        </span>
                    </p>
                </ion-col>
                <ion-col class="foot" width-15>
                    <div>
                    <div class="status">
                        <span>
                        {{msg.status}}
                        </span>
                    </div>
                    <span class="name">
                        {{msg.roleName}}
                    </span>
                        <span class="role">
                        管机员
                    </span>
                    </div>
                </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</div>
